/* 
   Grid styles
*/

.row, .seo-info-block .column-33, .item-image, .footer-bottom-content div div, .video-container, .product-item,
.marketing-items-container [class^="column"], .marketing-product-image, .popular-products-container .owl-stage,
 .seo-info-block .owl-stage, .main-top-container > .row > .column:last-of-type {
    display: -ms-flex;
	display: -webkit-flex;
    display: flex;
}

.column-60 {
    -webkit-flex: 60%;
    -ms-flex: 60%;
    flex: 60%;
}

.column-65 {
    -webkit-flex: 64.5%;
    -ms-flex: 64.5%;
    flex: 64.5%;
}

.column {
    -webkit-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
}

.column-35 {
    -webkit-flex: 35%;
    -ms-flex: 35%;
    flex: 35%;
}

.column-33 {
    -webkit-flex: 33.33%;
    -ms-flex: 33.33%;
    flex: 33.33%;
}

.column-20 {
    -webkit-flex: 20%;
    -ms-flex: 20%;
    flex: 20%;
}

.footer-links:first-of-type {
    -webkit-flex: 40%;
    -ms-flex: 40%;
    flex: 40%;
}

.footer-bottom-content .row, .header-content, .navigation-menu-container, .product-item, .marketing-items-container, .home-category-container .row {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.marketing-item-description, .product-item, .main-top-container > .row > .column:last-of-type {
    flex-direction: column;
}

.header-content, .navigation-menu-container, .seo-info-block .column-33, .item-image, form.row, .footer-bottom-content div div, .first-row,
 .second-row, .marketing-items-container [class^="column"], .marketing-product-image {
    -webkit-align-items: center;
    align-items: center;
}

.marketing-items-container > .row, .marketing-items-container .first-row .column-35, .marketing-items-container .third-row .column-35 {
    -webkit-align-items: stretch;
    align-items: stretch;
}

.footer-bottom-content div div, .navigation-menu-container, .product-item, .all-stores, form.row, .item-image {
    justify-content: center;
}

.header-content, .footer-links-container, .footer-bottom-content .row, .marketing-items-container > div > .row, .product-item, 
.minicart-quantity-price, .main-top-container > .row > .column:last-of-type, .home-category-container .row {
    justify-content: space-between;
}

.row.marketing-item-description {
    justify-content: space-around;
}

.banner-main img, .store-content img, form.row button {
    float: left;
}


/* 
   General styles 
*/
.js-language-container, .js-minicart {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul, h2, .home-category-container p::after, .storelocator-block h2::after, .marketing-block h2::after, p, .storelocator-container,
.minicart .minicart-item > div {
    margin: 0;
}

.header-content, .header-content, .navigation-menu-container, .main-top-container > .row, .seo-info-block, .home-category-container,
 .popular-products-block > div, .storelocator-block, .marketing-block > div, footer > div, .social-email-block > div, .footer-links-container,
 .footer-bottom-content > div, .column-35 .marketing-item-description {
    margin: 0 auto;
}

.banner-text button, .store-description > a, .popular-categories li {
    margin: 5px;
}

.product-item, .popular-products-block .popular-categories {
    margin: 20px;
}

ul, .store-address p, .bottom-left p, .bottom-right p, .title {
    padding: 0;
}

h2, strong, .review-user, .review-user-info, .item-links div, .cents, .banner-text button span {
    padding: 5px;
}

.header, .popular-products-block .popular-categories li, .second-row > .column-33:nth-of-type(1),
.second-row .column-33:nth-of-type(2), .column-65 .marketing-product-image {
    padding: 10px;
}

.popular-products-block .popular-categories li {
    padding-bottom: 8px;
}

.footer-bottom-content, .minicart-quantity-number, .banner-text, .review-container, .product-item, .minicart-block, .languages-list,
 .banner-main .owl-nav, .banner-main.owl-carousel .owl-nav [class*=owl-]:hover {
    background: #fff;
}

.header, .main-footer, .label-new {
    background: #373636;
}

.banner-text button, .home-service-block {
    background: #74d46b;
}

.language::after, .account a::after, .minicart a::after, .navigation-menu li a::after, .banner-text button span::after,
 .review-container button::after, .all-stores span::after, .email-block button span::after, .banner-text button, .review-container button,
 .label, .footer-links-container h3, .service-block a, .popular-products-block .popular-categories li, .all-stores a, .email-block button,
 .checkout-button button {
    color: #fff;
}

h2, .item-description, .item-links, .minicart-quantity-number, .home-category-container figcaption span, .item-description, .item-links, .title {
    color: #373636;
}

.price, p, .storelocator-container, .navigation-menu li, .input-text, .review-user-info, .item-link {
    color: #6c6f70;
}

.header, .main-footer {
    color: #adb0b1;
}

form.row input::placeholder {
    color: #adb0b1;
}

.marketing-item-price, .minicart a, .review-user-info a, .banner-main.owl-carousel .owl-nav [class*=owl-]:hover {
    color: #74d46b;
}

.navigation-menu li a::after, .home-category-container p::after, .storelocator-block h2::after, .marketing-block h2::after,
 .banner-main .owl-nav {
    color: #b7c1c5;
}

body {
    font-family: "Catamaran - Regular";
    font-size: 14px;
}

.marketing-item-name, .marketing-item-price {
    font-family: "Open Sans";
}

h2, .footer-links-container h3, .home-category-container p::after, .storelocator-block h2::after, .marketing-block h2::after {
    font-family: "Playfair Display";
}

a {
    text-decoration: none;
    color: inherit;
}

.home-service-content a, .store-description-text a, .add-to-cart span {
    text-decoration: underline;
}

p {
    padding: 10px 5px;
}

ul {
    list-style: none;
}

.seo-info-block .owl-item .column-33.item, .social-email-block > .row > .column {
    border-left: 2px dotted #b7c1c5;
}

.seo-info-block .owl-item:first-of-type .column-33.item, .social-email-block > .row > .column:first-of-type {
    border-left: none;
    padding-left: 0;
}

.seo-info-block .column-33.item {
    height: 100%;
}

.item-name, .special-price, .add-to-cart span, .store-description a, .working-time span, .store-name, .title, .minicart-products-quantity, 
.minicart-products-price span {
    font-weight: bold;
}

.banner-text button, .review-container button, .navigation-menu li, .popular-products-block .popular-categories li, .all-stores a,
 .email-block button, .label {
    text-transform: uppercase;
}

.review-user-info, .item-link a::before, .store-description > a::before, .store-data {
    font-size: 12px;
}

.email-block button, .banner-text button, .review-container button, .label, .all-stores {
    font-size: 13px;
}

.home-category-container figcaption span, .item-description, .item-links, .title {
    font-size: 15px;
}

.navigation-menu li, .input-text {
    font-size: 16px;
}

.banner-text button span::after, .review-container button::after, .marketing-item-name {
    font-size: 18px;
}

.main .main-top-container .home-service-block h2 {
    font-size: 28px;
}

.main .main-top-container h2 {
    font-size: 30px;
    padding-left: 5px;
}

.main h2 {
    font-size: 36px;
    font-weight: 400;
}

.review-user-info, .marketing-item-price {
    line-height: 18px;
}

p, .storelocator-container, .item-description, .item-links, .marketing-item-name {
    line-height: 22px;
}

.header, .main-footer, .banner-text button, .review-container button, .navigation-menu li, .home-category-container p::after,
 .storelocator-block h2::after, .marketing-block h2::after, .home-category-container figcaption span, .label, .store-address {
    line-height: 24px;
}

h2, p, .storelocator-container, .header, .main-footer, .input-text, .item-description, .item-links, .title, .marketing-item-price,
 .banner-text button, .review-container button, .review-user-info, .label, .navigation-menu-container ul, .banner-text, .review-container h2 {
    letter-spacing: 0.6px;
}

.review-user img, .home-category-container img {
    border-radius: 50%;
}

.banner-main img, .item-image img, .store-img, .marketing-items-container, .marketing-items-container > div, .marketing-items-container img,
 .owl-carousel, .logo img {
    width: 100%;
}

.home-category-container, .popular-products-block, .marketing-block h2, .storelocator-block h2, .social-email-block, .minicart-quantity-number,
 .checkout-button {
    text-align: center;
}

.store-data, .store-name, .footer-links-container li, .languages-list li, .minicart-products li {
    display: block
}

ul li, .header-left, .header-center, .header-right, .account, .minicart, ::after, ::before, .search-container, .review-user img,
 .review-user-info, .home-service-content, .home-service-block img, .seo-info-block img, .seo-info-block p, .social-icon, 
 .footer-links-container ul, .footer-bottom-content a, .minicart-item > div, .minicart-item > img {
    display: inline-block;
}

.review-user-info li:first-of-type::before, .device-menu, .banner-main li:nth-of-type(n+2), .languages-list li::after {
    display: none;
}

.header-left div, .header-right div, .minicart, .language, .account a, .minicart a,.navigation-menu-container, .navigation-menu li a,
 .banner-wrapper, .banner-text button, .review-user-info li, .review-container button, .main-top-container .row .column:last-of-type,
 .home-category-container p, .home-category-container figcaption span, .add-to-cart span, .item-link a, .storelocator-block h2, .store-address a,
 .all-stores span, .marketing-block h2, .marketing-block article, .email-block button span, .footer-links-container li, .service-block a, 
 .product-item, .label, .header-content, .search-container form, .marketing-items-container [class^="column"], .marketing-center,
 .second-row .column-33, .language-container, .video-container, .banner-main, .popular-products-container ul, .home-service-block {
    position: relative;
}

.banner-text, .minicart-quantity-number, .search-container, .home-service-block img, ::after, ::before, 
 .footer-links-container li::before, .label, .logo, .languages-list, .minicart .minicart-block, .video-play-btn, .banner-main .owl-nav,
 .popular-products-container .owl-nav button {
    position: absolute;
}

.home-service-block, .banner-main, .home-top-block, .popular-products-block div, .item-image, .item-image a {
    box-sizing: border-box;
}

.language, .product-item, .popular-categories li, button, .device-menu, .video-play-btn {
    cursor: pointer;
}

.header-content, .navigation-menu-container, .main-top-container > .row, .seo-info-block, .home-category-container, .popular-products-block > div, 
.storelocator-block, .marketing-block > div, footer > div, .social-email-block > div, .main-footer .footer-links-container,
.footer-bottom-content > div {
    max-width: 1250px;
    padding-left: 20px;
    padding-right: 20px;
}

.main-top-container, .popular-products-block, .social-email-block, .marketing-block {
    background: #f2f2f2;
    padding: 60px 0;
}

.banner-text button, .review-container button, .popular-products-block .popular-categories li, .all-stores a, .email-block button, .input-text,
 .search-container button {
    border: none;
}

.banner-text button, .review-container button, .popular-products-block .popular-categories li, .all-stores a, .email-block button,
 .footer-links::after, form.row input, .languages-list, .minicart-block, .checkout-button button {
    border-radius: 2px;
}

.language::after, .account a::after, .minicart a::after, .navigation-menu li a::after, .banner-text button span::after,
 .review-container button::after, .all-stores span::after, .email-block button span::after {
    content: ">";
    right: -20px;
}

.language::after, .account a::after, .minicart a::after, .navigation-menu-container li a::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}


.home-category-container figure, .storelocator-container li, .product-item {
    -webkit-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}

.banner-text button, .review-container button {
    padding: 10px 45px 10px 10px;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.product-item:hover, .storelocator-container li:hover {
    border-bottom: 2px solid #74d46b;
    box-shadow: 0 5px 5px 5px rgba(214, 214, 214, 0.7);
    transform: scale3d(1.1, 1.1, 1);
    z-index: 2;
}

.banner-text button span::after, .review-container button::after {
    right: 20px;;
    top: 8px;
}



/* 
   Header styles
*/

.logo {
    left: calc(50% - 80px);
    max-width: 160px;
    top: calc(50% - 22px);
}

.header-left, .header-right {
    max-width: calc(100% - 80px);
}

.header-left div, .header-right div {
    margin: 10px 0;
}

.header-right > div, .minicart {
    text-align: right;
}

.language, .languages-list li {
    padding: 0 25px;
}

.language::before {
    left: 0;
    top: 1px;
}

.language.nl::before {
    content: url('../images/flag-nl.png');
}

.language.ua::before {
    content: url('../images/flag-ua.png');
}

.language.en::before {
    content: url('../images/flag-en.png');
}

.language::after {
    right: 10px;
}

.languages-list {
    box-shadow: 5px 5px 5px 5px #373636;
    color: #6c6f70;
    line-height: 17px;
    z-index: 1;
    padding: 5px;
}

.languages-list::before {
    content: "";
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 5px solid #fff;
    top: -5px;
    left: 50%;
}

.service-block a {
    margin-left: 20px;
}

.service-link::before {
    color: #09c525;
    content: '●';
    left: -16px;
}

.email:before {
    color: #c50909;
}

.service-links li {
    padding-left: 15px;
}

.account-cart {
    line-height: 0;
}

.account-cart > div {
    padding-right: 30px;
}

.account-cart > div:last-of-type {
    padding-right: 20px;
}

.minicart {
    padding-left: 10px;
}

.minicart a {
    padding: 0 0 0 30px;
}

.minicart a::after {
    padding-right: 0;
} 

.minicart a::before, .add-to-cart span::before {
    content: url('../images/minicart.png');
    left: 0;
    top: 1px;
}

.minicart-quantity-number {
    border-radius: 50%;
    line-height: 15px;
    left: 10px;
    min-width: 15px;
    padding: 2px 1px 0 1px;
    top: -7px;
}

.minicart .minicart-block {
    box-shadow: 5px 5px 5px 5px #373636;
    box-sizing: border-box;
    padding: 10px;
    right: 0;
    top: 10px;
    width: 300px;
    z-index: 2;
}

.minicart-block::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 5px solid #fff;
    top: -5px;
    right: 20px;
}

.minicart-products-block {
    border-bottom: 1px solid #adb0b1;
    border-top: 1px solid #adb0b1;
    text-align: left;
}

.minicart-item {
    margin: 10px 0;
}

.minicart-item-img {
    max-width: 60px;
    width: 100%;
}

.minicart-item p {
    padding: 1px;
}

.checkout-button button {
    border: 1px solid #02b11c;
    background: #09c525;
    padding: 10px;
}



/* 
   Navigation styles
*/

.navigation-menu ul {
    margin: 10px;
    max-width: calc(100% - 266px);
}

.navigation-menu li {
    padding: 10px 20px 10px 20px;
}

.navigation-menu li a::after {
    right: -15px;
}

.navigation-menu .search-container {
    right: 20px;
}

.input-text {
    max-width: 100px;
    opacity: 0.5;
}

.search-container input, .email-block input {
    outline: none;
}

.search-container button {
    background: inherit;
}



/* 
   Main styles
*/

.main-top-container > .row > .column:first-of-type {
    max-width: 50%;
}

.banner-main .owl-nav {
    bottom: 30px;
    font-size: 30px;
}

.banner-main .owl-nav button {
    width: 30px;
    outline: none;
}

.banner-main li {
    padding: 0 60px 30px 0;
}

.banner-text {
    bottom: 0;
    padding: 20px 70px 30px 20px;
    right: 0;
    max-width: 260px;
}

.banner-text h2 {
    padding: 5px 10px;
}

.video-play-btn {
    left: 100px;
    top: 108px;
    max-width: 90px;
    width: 100%;
    z-index: 1;
}

.review-container h2 {
    padding: 0 0 0 10px;
}

.review-container {
    padding: 30px 20px 10px;
}

.review-user-info li {
    padding: 0 5px;
}

.review-user-info li:first-of-type, .store-description-text p {
    padding-left: 0;
}

.review-user-info li::before {
    color: #000;
    content: '●';
    font-size: 8px;
    left: -4px;
}

.review-container button span {
    padding: 15px;
}

.review-container p {
    padding: 0 5px 10px;
}

.home-service-block {
    bottom: 0;
    margin: auto 0 0 auto;
    width: 520px;
    right: 0;
    padding: 20px 15px 45px;
}

.home-service-content {
    width: 75%;
}

.home-service-block img {
    bottom: 0;
    display: block;
    max-width: initial;
    right: 10px;
    width: 30%;
}

.home-service-content ul {
    max-width: 90%;
}

.home-service-content ul li {
    margin-top: 20px;
}

.home-service-content ul li strong {
    padding-bottom: 0;
}

.home-service-content ul li p {
    padding-top: 0;
}

.main-top-container .row.seo-info-block {
    margin-top: 85px;
    padding: 0;
}

.seo-info-block .owl-stage-outer {
    padding: 0 20px;
}

.seo-info-block .column-33 {
    padding-left: 15px;
}

.seo-info-block .column-33 p {
    padding: 5px 60px 2px 15px;
}

.seo-info-block .owl-item:last-of-type p {
    padding: 5px 20px 2px 15px;
}

.seo-info-block.owl-carousel .owl-item img {
    width: auto;
}

.home-category-container {
    padding: 50px 0 50px;
}

.home-category-container figure:hover {
    transform: scale3d(1.3, 1.3, 1);
    z-index: 2;
}

figure img {
    max-width: 90px;
}

.home-category-container p::after, .storelocator-block h2::after, .marketing-block h2::after {
    bottom: -15px;
    content: "~";
    font-size: 34px;
    left: 0;
    right: 0;
}

.home-category-container ul {
    padding: 30px 0 0;
}

.home-category-container li {
    width: 16%;
}

.home-category-container figcaption span {
    padding: 10px 0 0 5px;
}

.home-category-container figcaption span::before, .item-link a::before, .store-description > a::before, .footer-links-container li::before, 
.store-address a::before {
    bottom: -15px;
    content: ">";
    color: #f4b811;
    top: 10px;
    left: -7px;
}

.popular-categories li, .all-stores a, .email-block button {
    background-color: #b7c1c5;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.popular-categories li:hover, .popular-categories li.active, .all-stores a:hover, .review-container button:hover, .email-block button:hover {
    background-color: #74d46b;
}

.popular-products-block {
    padding-top: 50px;
}

.popular-products-block .popular-categories li {
    padding: 7px 10px 5px;
}

.popular-products-container .owl-stage {
    padding-bottom: 20px;
}

.product-item {
    height: 90%;
}

.popular-products-block .popular-products-container .owl-carousel .owl-nav button {
    background: inherit;
    color: #b7c1c5;
    font-size: 50px;
}

.popular-products-block .popular-products-container .owl-carousel .owl-nav button:hover {
    color: #74d46b;
}

.popular-products-container .owl-prev, .popular-products-container .owl-next {
    background: inherit;
    outline: none;
    top: 40%;
}

.popular-products-container .owl-prev {
    left: -20px;
}

.popular-products-container .owl-next {
    right: -20px;
}

.label {
    left: -3px;
    padding: 2px 20px 0 15px;
    top: 30px;
}

.label::before {
    content: "";
    width: 0;
	height: 0;
	border-bottom: 3px solid #373636;
    border-left: 3px solid transparent;
    top: -3px;
    left: 0;
}

.label::after {
    content: "";
    width: 0;
	height: 0;
    border-bottom: 13px solid #373636;
    border-top: 13px solid #373636;
    border-right: 5px solid transparent;
    right: -4px;
    top: 0;
}

.label-discount {
    background: #d33a11;
}

.label-discount::before {
    border-bottom: 3px solid #d33a11;
    border-left: 3px solid transparent;
}

.label-discount::after {
    border-bottom: 13px solid #d33a11;
    border-top: 13px solid #d33a11;
    border-right: 5px solid transparent;
}

.item-image {
    height: 60%;
    padding: 20px 10px;
}

.item-description, .item-links {
    margin: 0 10%;
}

.old-price {
    text-decoration: line-through;
}

.special-price {
    color: #d33a11;
    padding-left: 5px;
}

.add-to-cart span {
    padding-left: 25px;
}

.item-link a::before, .store-description > a::before {
    left: -10px;
    top: 1px;
}

.storelocator-block h2 {
    padding-top: 50px;
}

.storelocator-container li {
    background: #f2f2f2;
    margin: 15px;
}

.storelocator-block h2, .marketing-block h2 {
    margin-bottom: 20px;
}

.storelocator-block h2::after, .marketing-block h2::after {
    bottom: -20px;
}

.store-description {
    padding: 30px;
}

.store-description > a {
    padding-left: 10px;
}

.store-description > a::before {
    left: 0;
    top: -2px;
}

.store-address {
    margin-bottom: 20px;
}

.store-address a {
    padding-left: 10px;
}

.store-address a::before {
    left: 0;
    top: -2px;
}

.store-content {
    border-top: 1px solid #e2e2e2;
    padding-top: 20px;
}

.store-content img {
    margin-right: 15px; 
    padding: 2px;
}

.all-stores {
    margin: 15px 0 60px;
}

.all-stores a {
    padding: 15px 25px;
}

.all-stores span {
    padding-right: 20px;
}

.all-stores span::after {
    right: 5px;
    top: 3px;
}



/* 
   Marketing block styles
*/

.marketing-block {
    padding: 50px 0 170px;
}

.marketing-items-container {
    border: 1px solid #fd9863;
    margin: 40px auto 0;
    max-height: 500px;
    max-width: 650px;
    padding: 20px;
}

.marketing-item-description {
    font-family: "Open Sans";
    font-size: 18px;
}

.marketing-item-price {
    color: #74d46b;
    font-size: 30px;
}

.cents {
    font-size: 20px;
    vertical-align: super;
}

.marketing-item-cart {
    max-width: 195px;
    max-height: 195px;
}

.second-row .column-33:first-of-type {
    align-self: flex-end;
}

.column-65 .marketing-product-image {
    max-width: 270px;
    min-height: 140px;
}

.marketing-item-description {
    max-width: 100px;
    width: 100%;
}

.column-66 .marketing-item-description {
    padding-left: 20px;
}

.marketing-center::before, .marketing-center::after {
    content: "";
    width: 120%;
}

.marketing-center::before {
    border-top: 1px solid #74d46b;
    top: 0;
    right: 105%;
}

.marketing-center::after {
    border-bottom: 1px solid #74d46b;
    bottom: 0;
    left: 105%;
}

.third-row .column-65::before, .first-row .column-65::after {
    content: "";
    height: 96%;
}

.third-row .column-65::before {
    border-left: 1px solid #74d46b;
    bottom: 0;
    left: 0;
}

.first-row .column-65::after {
    border-right: 1px solid #74d46b;
    top: 0;
    right: 0;
}


/* 
   Footer styles
*/

.main-footer {
    padding-bottom: 60px;
}

.social-email-block {
    padding-bottom: 30px;
}

.social-icon img {
    margin: 10px;
    max-height: 30px;
    max-width: 30px;
}

form.row input {
    border-radius: 3px;
    border-width: 1px;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
    line-height: 42px;
    margin: auto 5px;
    min-height: 45px;
    padding: 0 0 0 20px;
    width: 50%;
}

.email-block button {
    padding: 15px 45px 15px 25px;
}

.email-block button span::after {
    top: 3px;
}

.footer-links-container {
    padding: 35px 0 80px;
}

.footer-links-container h3 {
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.footer-links-container li {
    padding: 5px 5px 5px 15px;
}

.footer-links-container li::before {
    bottom: 0;
    left: 5px;
    top: 5px;
}

.copyright {
    padding: 15px 0;
}

.footer-bottom-content a {
    margin: 0 10px;
}

.footer-bottom-content a img {
    vertical-align: middle;
}

.footer-payment-shipping span {
    margin: 0 30px 0 50px;
}



@media screen and (max-width: 1230px) {
    .main-top-container > .row:first-of-type, .video-container  {
        display: block;
    }

    .banner-main, .banner-text {
        display: inline-block;
    }

    .video-container {
        flex: 0;
    }

    .banner-wrapper {
        text-align: center;
    }

    .home-service-block {
        position: relative;
    }

    .main-top-container > .row > .column:first-of-type {
        margin: 0 auto;
    }

    .home-service-block, .home-top-block {
        margin: 20px auto;
    }

    .banner-text {
        bottom: 4px;
        padding: 20px 70px 35px 20px;
        right: 0;
        max-width: 230px;
    }

    .popular-products-container .owl-prev {
        left: -10px;
    }

    .popular-products-container .owl-next {
        right: -10px;
    }
}

@media screen and (max-width: 1024px) {

    .product-item:nth-of-type(n+4), .storelocator-container li:nth-of-type(n+3), .device-menu {
        display: none;
    }

    .home-category-container li {
        width: 15%;
    }

    .seo-info-block .column-33 p {
        padding-right: 10px;
    }

    .seo-info-block .owl-item .column-33.item {
        border: none;
    }

    .seo-info-block .owl-item .column-33.item, .row.seo-info-block, .seo-info-block .owl-stage-outer {
        padding: 0;
    }

    .seo-info-block.owl-carousel .owl-item img {
        padding: 0 20px;
    }
    
    .banner-text{
        padding: 10px;
    }

    figure {
        margin: 10px;
    }

    figure img {
        width: 100%;
    }

    .footer-bottom-content .row {
        display: block;
        padding-bottom: 25px;
    }

}

@media screen and (max-width: 767px) {

    .seo-info-block .column-33:nth-of-type(n+2), .product-item:nth-of-type(n+2), .storelocator-container li:nth-of-type(n+2),
     .main-top-container .column:last-of-type, .navigation-menu-container ul, .header-left, .service-links, .account, .minicart a::after, 
     .amount-container, .device-menu span, .footer-links:nth-of-type(n+2) ul, .marketing-block h2, .main-top-container > .row > .column:last-of-type {
        display: none;
    }

    .device-menu, .footer-links-container, .main-footer .footer-bottom-content div {
        display: block;
    }

    .main-top-container, .popular-products-block, .marketing-block {
        padding: 30px 0;
    }

    .main-top-container > .row > .column:first-of-type {
        max-width: 100%;
    }

    .main .main-top-container > .row > .column {
        width: 100%;
    }

    .banner-main li {
        padding: 0 0 30px 0;
    }

    .banner-main.owl-theme .owl-nav {
        margin-top: 0;
        bottom: initial;
        right: 0;
        top: 0;
    }

    .storelocator-block h2 {
        padding-top: 40px;
    }

    .storelocator-container li {
        margin: 15px 25px;
        padding-bottom: 40px;
    }

    .social-email-block > .row {
        flex-direction: column;
    }

    .seo-info-block .column-33 {
        justify-content: center;
    }

    .header-content {
        justify-content: space-between;
    }

    .footer-bottom-content .row {
        text-align: center;
    }

    .header-right, .footer-links {
        position: relative;
    }

    .search-container button {
        position: absolute;
    }

    .search-container, .banner-text {
        position: static;
    }

    .footer-links .row {
        flex-flow: wrap;
    }

    .footer-links .row .column{
        flex: 100%;
    }

    .navigation-menu-container li, .search-container, .search-container input {
        width: 100%;
    }

    .header-content, .marketing-block, .home-category-container figcaption span, .home-category-container figcaption span::before {
        padding: 0;
    }

    .device-menu::before {
        content: url('../images/mobile_menu_icon.png');
        left: 5px;
        max-height: 20px;
        max-width: 20px;
        top: 5px;
    }

    .device-menu::after {
        color: #ffffff;
        content: 'menu';
        font-family: Catamaran;
        font-size: 8px;
        left: 2px;
        text-transform: uppercase;
    }

    .minicart a::before {
        right: -10px;
    }

    .minicart-quantity-number {
        left: auto;
    }

    .search-container button {
        top: 10px;
        right: 15px;
    }

    .search-container, .search-container input {
        max-width: 100%;
    }

    .search-container, .footer-bottom-content .row, .banner-text, .footer-links-container {
        padding: 10px;
    }

    .search-container input {
        background: #f2f2f2;
        border: 1px solid #6c6f70;
        border-radius: 2px;
        padding: 10px 25px 10px 10px;
    }

    .main-top-container .row.seo-info-block {
        margin-top: 35px;
    }

    .banner-text {
        margin: -10%;
        max-width: 90%;
        text-align: left;
    }

    .seo-info-block .column-33 p, .marketing-items-container {
        padding: 5px;
    }

    .home-category-container {
        padding: 40px 10px 40px;
    }

    .home-category-container li {
        width: 30%;
        margin-bottom: 30px;
    }

    figure, .footer-payment-shipping span {
        margin: 5px;
    }

    .home-category-container figcaption span::before {
        bottom: 0;
        top: 0;
    }

    figcaption {
        margin-top: 10px;
    }

    .popular-products-block {
        padding-bottom: 0;
    }

    .product-item {
        align-items: center;
        margin: 0 50px;
    }

    .popular-products-container .owl-prev {
        left: 0;
    }

    .popular-products-container .owl-next {
        right: 0;
    }

    .item-image img {
        margin-top: 30px;
    }

    .all-stores {
        margin: 15px 0 150px;
    }

    .marketing-block {
        background: #fff;
        padding-bottom: 70px;
    }

    .marketing-items-container {
        background: #f6f6f6;
    }

    .marketing-item-description {
        max-width: 40%;
    }

    .marketing-item-name {
        font-size: 3vw;
        line-height: 3vw;
    }

    .marketing-item-price {
        font-size: 16px;
    }

    .cents {
        font-size: 12px;
    }

    .column-65 .marketing-product-image {
        min-height: 0;
    }

    .marketing-center {
        -webkit-flex: 33%;
        -ms-flex: 33%;
        flex: 33%;
    }

    .marketing-center::before, .marketing-center::after {
        width: 105%;
    }

    .social-email-block {
        padding: 20px 0 30px;
    }

    .social-email-block > .row > .column:last-of-type {
        border-left: none;
        border-top: 2px dotted #b7c1c5;
        margin-top: 15px; 
        padding-top: 25px;
    }

    form.row {
        margin-top: 10px;
    }

    .main-footer, .footer-links-container  {
        padding-bottom: 0;
    }

    .footer-links {
        border-bottom: 1px solid #494747;
    }

    .footer-links:last-of-type {
        border-bottom: none;
    }

    .footer-links::after {
        background: #494747;
        color: #ffffff;
        content: '+';
        font-family: Catamaran;
        font-size: 20px;
        height: 25px;
        right: 0;
        text-transform: uppercase;
        text-align: center;
        top: 4px;
        width: 25px;
    }

    .footer-links:first-of-type::after {
        content: '-';
    }

    .footer-links .row {
        padding-bottom: 35px;
    }

    .footer-bottom-content div {
        margin-top: 20px;
    }
}

@media screen and (max-width: 620px) {

    .marketing-items-container {
        margin-left: -5px;
    }

    .first-row .column-65 .marketing-item-description {
        padding-left: 10px;
    }
}